.DS_Store
*.make
*.o
*.out
*.o.d

CMakeCache.txt
cmake_clean.cmake
cmake_install.cmake
compiler_depend.internal
compiler_depend.ts
DependInfo.cmake
link.txt

CMakeCCompiler.cmake
CMakeCXXCompiler.cmake
CMakeDetermineCompilerABI_CXX.bin
CMakeSystem.cmake
CMakeDetermineCompilerABI_C.bin
apple-sdk.cpp
CMakeConfigureLog.yaml
CMakeDirectoryInformation.cmake
InstallScripts.json
Makefile.cmake
apple-sdk.c
cmake.check_cache
Makefile
CMakeCCompilerId.c
CMakeCXXCompilerId.cpp
Makefile2
progress.marks
TargetDirectories.txt
compile_commands.json